[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=<cart-dev.devopspractice.lol>:8080
Environment=DB_HOST=<mysql-dev.devopspractice.lol>
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
